<h2>Add a new election</h2>
<form action="/election" method="POST">
  <div class="row">
    <span>Name</span>
    <input type="text" name="name"></input>
  </div>
  <div class="row">
    <span>Description</span>
    <input type="text" name="description"></textarea>
  </div>
  <div class="row">
    <button>Create</button>
  </div>
</form>
<% @elections.each do |election| %>
<div>
  <h2><a href=<%= "/election/#{election.id}"%>><%= election.name %></a></h2>
  <p><%= election.description %></p>
</div>
<% end %>
