<style>
div.row {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 15px;
}

input[type="text"] {
  width: 250px;
  height: 24px;
}

input[type="number"] {
  width: 50px;
  height: 24px;
}

</style>
<h1> Instant Runoff Voting! </h1>
<nav>
  <a href="/">Home</a>
  <a href="https://en.wikipedia.org/wiki/Instant-runoff_voting">About</a>
  <a href="https://github.com/rrcobb/instant_runoff">Github</a>
</nav>
<%= yield :content %>
